<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bottom Nav Container</title>
    <link rel="stylesheet" href="/../css/styles.css" />
    <!-- <link rel="icon" href="/assets/images/logo.png" type="image/icon type" /> -->
    <script
      src="https://kit.fontawesome.com/0647976c17.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="bottom-nav-container">
      <div class="bottom-nav">
        <div class="bottom-nav-inner">
          <i class="bx bx-left-down-arrow-circle menu-hide-btn"></i>
          <ul class="menu">
            <li class="menu-item">
              <a href="#home" class="current">
                <i class="bx bx-home"></i><span>Home</span>
              </a>
            </li>
            <li class="menu-item">
              <a href="#about">
                <i class="bx bx-user"></i><span>About</span>
              </a>
            </li>
            <li class="menu-item">
              <a href="#resume">
                <i class="bx bx-file"></i><span>Resume</span>
              </a>
            </li>
            <li class="menu-item">
              <a href="#service">
                <i class="bx bx-support"></i><span>Service</span>
              </a>
            </li>
            <li class="menu-item">
              <a href="#portfolio">
                <i class="bx bx-briefcase-alt"></i><span>Portfolio</span>
              </a>
            </li>
            <li class="menu-item">
              <a href="#contact">
                <i class="bx bx-conversation"></i><span>Contact</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="menu-show-btn">
        <div class="bar-01"></div>
        <div class="bar-02"></div>
      </div>
    </div>
  </body>
</html>
