<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
</head>
<body>
    <footer class="c-footer">
        <div class="c-container">
          <div class="inner">
            <div class="c-logo">
              <a href="#home"><span>Chihiro</span></a>
            </div>
            <ul class="footer-menu">
              <li class="menu-item"><a href="#about">About Me</a></li>
              <li class="menu-item"><a href="#resume">My Resume</a></li>
              <li class="menu-item"><a href="#works">My Works</a></li>
              <li class="menu-item"><a href="#contact">Contact Me</a></li>
            </ul>
            <p class="copy-right">
              @ All rights reversed by <a href="#home">Chihiro</a>
            </p>
          </div>
        </div>
      </footer>
</body>
</html>