<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="stylesheet" href="/../css/styles.css" />
    <!-- <link rel="icon" href="/assets/images/logo.png" type="image/icon type" /> -->
    <script
      src="https://kit.fontawesome.com/0647976c17.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
</head>
<body>
    <header class="c-header">
        <div class="c-container">
          <div class="inner">
            <div class="c-logo">
              <a href="#"><span>Chihiro</span></a>
            </div>
            <div class="header-btns">
              <div class="c-main-btn border-btn lets-talk-btn">
                <a href="#contact">Let's talk!</a>
              </div>
              <a href="#contact" class="lets-talk-icon">
                <i class="bx bxs-chat"></i>
              </a>
              <div class="theme-btn">
                <i class="bx bxs-sun sun-icon"></i>
                <i class="bx bxs-moon moon-icon"></i>
              </div>
            </div>
          </div>
        </div>
      </header>
</body>
</html>